

@import 'bootstrap/dist/css/bootstrap.min.css';
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  

font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-section{

  min-height: calc(100vh - 56px);
} 